.container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.form-border{
    width: 350px;
    border: 3px solid #1a89ba;
    padding: 3%;
    border-radius: 5px;
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5%;
}
.form-label{
    border: 2px solid #1a89ba;
    background-color: #5d9dd5;
    min-width: 30%;
    margin-right: 5%;
    padding: 2%;
    color: white;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.3rem 0.9rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
input[type ="radio"].form-control{
    padding: 2%;
}
  .btn-submit{
    background-color: #5d9dd5;
    border: 2px solid #8bc1f0;
    color: white;
    display: inline-block;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  .btn-submit:hover{
    background-color: #1c72be;
    border: 2px solid #8bc1f0;

  }

  .error_message{
    color: red;
  }
  .success{
    color: rgb(27, 210, 27);
  }

  #image{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  #lbimage{
    width: 100%;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(213, 131, 131);
    display: inline-block;
    cursor: pointer;
    border: none;
  }

  #lbimage:hover{
    background-color: #dda8b3;
    border: rgb(164, 60, 42);
  }